.competenceItem {

    padding: 10px;
    margin: 10px 5px;
    display: inline-block;
    text-align: center;
    background-color: transparent;

    h4 {
        margin-bottom: 5px;
    }

}

.competenceImage {
    width: 80px;
    height: auto;
    opacity: 0.6;
}