.homePage {
    display: flex;
    flex-direction: column;

    p {
        font-size: $fontSize-3;
    }

    h3 {
        font-size: $fontSize-2;
        margin-bottom: 2.5rem;
    }
}

.homeContent {
    text-align: start;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: center;
    margin-top: 35px;
}

.homePageStart {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    border-radius: 10px;
    justify-content: space-between;

    @media screen and (max-width :850px) {
        flex-direction: column-reverse;
    }

    .homePage_QuiSuisje {
        width: 66%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        justify-content: center;
        text-align: start;
        justify-self: auto;

        @media screen and (max-width :450px) {
            padding: 0;
            width: 100%;
            margin: 0;
        }

        p {
            justify-content: start;
            margin: 0.5rem;
        }



    }

    .homePage_Img {
        width: 23%;
        height: auto;
        min-width: 340px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

        @media screen and (max-width :850px) {
            width: 45%;
            margin: 0 auto;
        }

        img {
            height: 100%;
            width: 100%;
            border-radius: 7px;
        }
    }
}

homeContent_main {
    margin: 80px auto;
}