.Portfolio {
    display: flex;
    flex-direction: column;

}

.portfolioContent {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 25px;
    margin-top: 110px;
}

.portfolioContent_main {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}