@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Kanit:wght@500&display=swap');

$font-1 : 'Goudy Bookletter 1911',
sans-serif;
$font-2 : 'Kanit',
serif;

$fontSize-1 : larger;
$fontSize-2 : large;
$fontSize-3: medium;



$color-1 : #2a1d52;
$color-2 : #d7ab1d;
$color-3 : rgb(99, 164, 233);
$color-4 : lightgrey;
$color-5: rgb(176, 233, 176);
$white: #ddd;
$black: #333;

$border-radius1: 15px;
$border-radius2: 25px;

$shadow: 0 4px 5px;
$min-height: 95vh;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 1rem auto;
    max-width: 1400px;
    font-family: $font-1;
    background-image: linear-gradient(to bottom right, #e8ffed 60%, white 60%);

}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $color-2;

}

a.visited {
    color: $color-2;
    text-decoration: none;
}

.home,
.portfolio,
.contact {
    display: flex;

    @media screen and (max-width :850px) {
        display: block !important;

    }
}

.homeContent,
.portfolioContent,
.contactContent {
    margin-left: .4rem;

    @media screen and (max-width :850px) {
        margin: 0;

    }
}