@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Kanit:wght@300;500&display=swap');

$font-1 : 'Exo 2',
sans-serif;
$font-2 : 'Kanit',
serif;

$fontSize-1 : larger;
$fontSize-2 : large;
$fontSize-3: medium;

$fontWeight-1 :800;
$fontWeight-2: 700;
$fontWeight-3: 500;


$color-1 : #2a1d52;
$color-2 : #6C77f4;
$color-3 : rgb(99, 164, 233);
$color-4 : lightgrey;
$color-5: lightgreen;
$white: #ddd;
$black: #333;

$border-radius1: 15px;
$border-radius2: 25px;

$shadow: 0 4px 5px;
$min-height: 95vh;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 1rem auto;
    max-width: 1200px;
    font-family: $font-1;
    color: $black;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $color-3;
    font-weight: $fontWeight-2;
    cursor: pointer
}

a.visited {
    color: $color-3;
}

.home,
.portfolio,
.contact {
    display: flex;

    @media screen and (max-width :850px) {
        display: block !important;

    }
}

.homeContent,
.portfolioContent,
.contactContent {
    margin-left: .4rem;

    @media screen and (max-width :850px) {
        margin: 0;

    }
}